.FooterLayout {
  min-width: 250px;
}

.FooterContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MyNameTag {
  display: flex;
  align-items: center;
}

.MyAccountNickname {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  font-size: 15px;
  font-weight: 600;
}

.MyName {
  font-size: 13px;
  font-weight: 600;
  color: gray;
  margin-left: 1px;
}

.ChangeMyAccountButton {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  color: rgb(0, 157, 255);
  margin-left: 50px;
}
.ChangeMyAccountButton:hover {
  cursor: pointer;
}

.FooterGuideText {
  font-size: 12px;
  font-weight: 600;
  color: rgb(155, 155, 155);
}
.FooterGuideButton {
  font-size: 12px;
  font-weight: 700;
  margin: 0 5px 0 0;
}
.FooterGuideButton:hover {
  cursor: pointer;
}

.NameTag {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.FollowButton {
  display: flex;
  margin-right: 10px;
  font-size: 13.5px;
  font-weight: 600;
  color: rgb(0, 157, 255);
}
.FollowButton:hover {
  cursor: pointer;
}
