#ScreenLayerMask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}

.Background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.02);
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.BodyLayout {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.MainFooterLayout {
  width: 250px;
  display: flex;
  align-self: flex-start;
  justify-self: center;
  order: 1;
  margin-top: 50px;
  margin-right: 36%;
  /* 레이아웃 작업 후 삭제 */
  border: 1px solid red;
}
@media (max-width: 1000px) {
  .MainFooterLayout {
    display: none;
  }
}

.MainPostLayout {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 150px;
  margin-left: 35%;
  margin-right: 20px;
  /* 레이아웃 작업 후 삭제 */
  border: 1px solid red;
}
@media (max-width: 1000px) {
  .MainPostLayout {
    display: flex;
    flex-direction: center;
    margin-left: 0;
    margin-right: 1%;
  }
}

.MyFollowing {
  border: 1px solid blue;
}
