.CommetContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  bottom: 3%;
  height: 800px;
}

.RightCommentPage {
  background-color: white;
  top: 5%;
  left: 10%;
  right: 10%;
  bottom: 3%;
  height: 800px;
  border-radius: 0 10px 10px 0;
}

.MyFollowingCheck {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 0 -220px;
}

.MoreButton {
  margin: 0 20px 0 0;
}

.DetailComment {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin: 0 0 0 5px;
}

.Contour {
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.PostCommentList {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 20px 5px;
}

.UserComment {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 2.5px 10px 0 0;
}

.CommnetCreatedAt {
  margin: 22px 20px 0 0px;
  font-size: 13px;
  width: auto;
  color: gray;
  white-space: nowrap;
}

.CommentFooter {
  position: sticky;
  max-width: 600px;
  min-width: 300px;
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
  bottom: -0.5rem;
  left: 12.55rem;
  justify-content: space-between;
  align-content: center;
  border: 0.5px solid hsla(0, 0%, 50%, 0.3);
}

.AddCommentSection {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  padding: 20px 0 2px 0;
  position: sticky;
  background: white;
}

.CommentInput {
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 0 50px 0 15px;
  margin: 5px 15px 5px 5px;
  flex-wrap: wrap;
  font-size: 1rem;
}
.CommentInput:focus {
  outline: none;
}

.AddCommentButton {
  position: absolute;
  bottom: 1.05rem;
  right: 1.7rem;
  border: none;
  background: none;
  color: rgb(0, 133, 174);
  font-size: 1rem;
  font-weight: bold;
}
.AddCommentButton:hover {
  cursor: pointer;
}
