/* 포스트 박스 하나의 크기 */
.Container {
  position: relative;
  max-width: 600px;
  min-width: 400px;
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: white;
  border: 1px solid hsla(0, 0%, 50%, 0.4);
  border-radius: 5px;
}
/* 포스트 박스 하나의 크기 */

.UserNameTagButton:hover {
  cursor: pointer;
}

.MoreButton {
  margin: 0 1rem 0 0;
  font-size: 2rem;
}

.MoreButton:hover {
  cursor: pointer;
}

/* 포스트 좋아요, 댓글, 공유, 북마크 버튼 */
.SnsButtons {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin: 0 0 10px 0;
}

.LikeButton {
  font-size: 35px;
  margin: 10px 15px 10px 20px;
  color: crimson;
}
.LikeButton:hover {
  cursor: pointer;
}

.PostCommentButton {
  width: 45px;
  height: 45px;
  margin: 5px 10px 5px 0;
}
.PostCommentButton:hover {
  cursor: pointer;
}

.PostShareButton {
  width: 45px;
  height: 45px;
  margin: 4px 10px 7px 0;
}
.PostShareButton:hover {
  cursor: pointer;
}

.BookMarkButton {
  font-size: 35px;
  margin: 10px 0 0 375px;
}
.BookMarkButton:hover {
  cursor: pointer;
}
/* 포스트 좋아요, 댓글, 공유, 북마크 버튼 */

/* 해당 유저의 이름과 포스트 내용 */
.ContentSection {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 10px;
}

.DescriptioncUserName {
  font-weight: 700;
  margin: 5px 10px 0px 20px;
  font-size: 16px;
}

.DescriptionContent {
  margin: 0px 10px 10px 0;
  font-size: 15px;
}
/* 해당 유저의 이름과 포스트 내용 */

/* 해당 포스트에 달린 댓글과 댓글 작성자 이름 */
.CommentCnt {
  margin: 0 0 5px 15px;
  font-size: 0.9rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  width: 10rem;
}
.CommentCnt:hover {
  cursor: pointer;
}

.CommentSection {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.CommentUserName {
  font-weight: 600;
  font-size: 15px;
  margin: 0px 10px 0px 20px;
}

.CommentContent {
  font-size: 15px;
  margin-bottom: 5px;
}
/* 해당 포스트에 달린 댓글과 댓글 작성자 이름 */

/* 해당 포스트의 작성 시간 */
.CreatedAt {
  margin: 10px 10px 20px 15px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.6rem;
}
/* 해당 포스트의 작성 시간 */
